
body {
	background-color: #F3F2EE;
	transition-delay: 0.3s;
	transition: ease-in-out;
}

.row {
  display: flex;
}

.column {
  float: left;
}

.left {
	position: left;
	width: 515px;
	min-width: 515px;
}

.right {
	position: left;
	width: auto;
}

photogrid {
	margin-left: 40px;
	display: grid;
	grid-template-columns: repeat(36, 20px);
	grid-template-rows: repeat(36, 20px);
	min-height: 700px;
	max-height: 700px;
}

.displayphotos {
	transition: filter 0.3s ease-in-out;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.23);
	width: 100%;
	-webkit-filter: grayscale(80%) opacity(0.72);
	-moz-filter: grayscale(80%) opacity(0.72);
	filter: grayscale(65%) opacity(0.70) brightness(75%); 

}
.displayphotos:hover {
  transition: filter 0.5s ease-in-out;
	-webkit-filter: grayscale(0%) opacity(1);
	-moz-filter: grayscale(0%) opacity(1);
	filter: grayscale(0%) opacity(1);
  z-index: 2;
}

.homecontainer {
	margin-top: 15px;
	min-width: 370px;
	max-width: 370px;
	position: relative;
	margin-left: 55px;
}

.photocontainer {
	margin-top: 20px;
	margin-left: 40px;
	position: relative;
	max-width: 720px;
	min-width: 720px;

}

.favoritescontainer {
	position: ;
}

.projectcontainer {
	position: relative;
	text-align: left;
	color: black;
}


bigtitle {
	font-family: athelas, serif;
	font-color: black;
	font-size: 32.2px;
	writing-mode: vertical-lr;
  	text-orientation: upright;
  	letter-spacing: -2px;
  	z-index: 1;
}

hometitles {
	font-family: athelas, serif;
	font-color: black;
	font-size: 13.6px;
	line-height: 2.1;
}

hometext {
	margin-left: 12px;
	display: inline-block;
	font-family: "Helvetica Neue";
	letter-spacing: 0.062em;
	color: black;
	font-size: 8.9px;
	line-height: 1.63;
}

contact {
	margin-left: 20px;
	font-family: courier; 
	font-weight: 500; 
	font-size: 11px; 
	color: #212121;
	text-decoration: underline;
}

.project {
	width: 200px;
	-webkit-filter: color(black);
	-moz-filter: color(black);
	filter: color(black);
}

.project:hover {
	transition: filter 0.5s ease-in-out;
	-webkit-filter: color(firebrick);
	-moz-filter: color(firebrick);
	filter: color(firebrick);
}



