:root {
  background: radial-gradient(#373734 1.4px, #EFF0EB 1.4px);
  background-position: 0 0;
  background-size: 70px 70px;
}

a, body {
    font-family: 'Inconsolata';
    font-size: 9px;
    letter-spacing: 0.22px;
}

p {
	margin:2px 0;
}

a {
    font-size: 9px;
    letter-spacing: 0.22px;
    color: black;
    text-decoration: none;	
}

a:hover {
  text-decoration: underline;
}



.line {
  height:1px;
  background:
    repeating-linear-gradient(to right,#454545 0,#454545 3px,transparent 3px,transparent 5.5px);
   margin-top: 23px;
   margin-bottom: 23px;
}

.head {
	font-family: PT Mono;
	font-size: 10px;
	margin-left: 2px;
	margin-right: 2px;

}

#labels {
	margin-bottom: 15px;
}

.titles {
	font-family: 'Inconsolata';
	margin-left: 2px;
	margin-right: 2px;	
	margin-bottom: 5px;
	font-weight: 650;
}

.items {
	text-align: left;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 3.5px;
	margin-bottom: 3.5px;
	padding-left: 6px;
}

itemtext {
	cursor: pointer;
}

.items:hover {
	background-color: #e6edc7;
}

.subitems:hover {
	background-color: #e6edc7;
}

.subitems {
	padding-left: 20px;
	margin-bottom: 2px;
}

.price {
	float: right;
}

.back {
	position: fixed;
	margin-top: 15px;
	margin-left: 25px;
}


#name{
	text-align: center;
	font-family: PT Mono;
	font-size: 16px;
	margin-bottom: 38px;
}

#lastupdated{
	font-size: 10px;
	letter-spacing: 1px;
	margin-bottom: 40px;
}

#current{
	text-align: center;
	margin: 10px;

}

.item {
	margin-top: 13px;
	margin-bottom: 13px;
}

#end{
	text-align: center;
	margin-top: 12px;
	font-size: 9px;
}

#desc1 {
	margin-bottom: 3px;
}

#total{
	font-family: PT Mono;
	font-size: 13px;
	margin-bottom: 31px;
	margin-top: 27px;	
	padding-right: 7px;
	padding-left: 7px;
}

#wrapper {
	width: 100%;
	height: 1000px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	justify-content: center;

}

#receipt {
	margin-top: 120px;
	display: none;
	padding: 13px;
	-webkit-height:660px;
	width: 306px;
	height: 660px;
	background-color: white;
	border: 1px solid #373734;
}


.projcontainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
	padding: 10%;
}

.card {
	margin: 1rem;
	border: 1px solid gray;
	height: 100px;
}

#backbutton {
	cursor: pointer;
}
